<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Essenza Sana - Sucursales en Buenos Aires">
    <title>Essenza Sana - Sucursales</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
            <a class="navbar-brand" href="../index.html">
                <img src="../images/logofinal.png" alt="Logo Essenza Sana" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="../index.html"><i class="bi bi-house-door"></i> Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="nosotros.html"><i class="bi bi-info-circle"></i> Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" href="productos.html"><i class="bi bi-box"></i> Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="contacto.html"><i class="bi bi-envelope"></i> Contacto</a></li>
                    <li class="nav-item"><a class="nav-link" href="sucursales.html"><i class="bi bi-geo-alt"></i> Sucursales</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="sucursales container">
            <h2 class="text-center my-4">Nuestras Sucursales</h2>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="sucursal p-3">
                        <h3>Sede Central</h3>
                        <p>Av. Acoyte y Rivadavia, Buenos Aires</p>
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.484134416537!2d-58.4391674!3d-34.6099516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb8d5af4388f%3A0x8fd0d0ab21d6e8a5!2sAv.%20Acoyte%20%26%20Av.%20Rivadavia%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1630098461569!5m2!1ses!2sar" frameborder="0" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="sucursal p-3">
                        <h3>Sede Devoto</h3>
                        <p>Av. Constituyentes y Av. Olazábal, Buenos Aires</p>
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.919530569196!2d-58.5042403!3d-34.5758416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7d5eae4e90b%3A0x4e8d0bb2b5d8f1a1!2sAv.%20Constituyentes%20%26%20Av.%20Olaz%C3%A1bal%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1630098489876!5m2!1ses!2sar" frameborder="0" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mb-4">
                    <div class="sucursal p-3">
                        <h3>Sede Microcentro</h3>
                        <p>Av. de Mayo y Florida, Buenos Aires</p>
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.8067903522906!2d-58.38366792422034!3d-34.60904687295235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad0457fa6a3%3A0x30fde298fbcd7cf!2sAv.%20de%20Mayo%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1730745812856!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>" frameborder="0" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mb-4">
                    <div class="sucursal p-3">
                        <h3>Sede Palermo</h3>
                        <p>Av. Scalabrini Ortiz y Av. Santa Fe, Buenos Aires</p>
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.7513335539093!2d-58.41853952422138!3d-34.58515807296106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb57f9f6f5511%3A0x94ea929c0aee6746!2sAv.%20Ra%C3%BAl%20Scalabrini%20Ortiz%20%26%20Av.%20Sta.%20Fe%2C%20C1425%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1730745945847!5m2!1ses!2sar" frameborder="0" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <div class="whatsapp-container">
            <a href="https://wa.me/1234567890" class="whatsapp-link" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" alt="WhatsApp" class="whatsapp-icon">
            </a>
        </div>

    </main>



    <footer>
        <p>&copy; 2024 Essenza Sana - Darío Villar</p>
        <p>Página con fines educativos</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/" target="_blank">
                <img src="../images/icons/instagram.png" alt="Instagram">
            </a>
            <a href="https://facebook.com/tuPerfil" target="_blank">
                <img src="../images/icons/facebook.png" alt="Facebook">
            </a>
            <a href="https://github.com/tuPerfil" target="_blank">
                <img src="../images/icons/github.png" alt="GitHub">
            </a>
            <a href="https://linkedin.com/in/tuPerfil" target="_blank">
                <img src="../images/icons/linkedin.png" alt="LinkedIn">
            </a>
        </div>
    </footer>


    <script src="../js/carousel.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
